.tableauStat{
	/*position:relative;*/
}

.tableauStat table {
	border-collapse: collapse;
}

.tableauStat th, td {
    padding: 5px;
    text-align: center;
}

.tableauStat th:first-child, td:first-child  {
    text-align: left;
    border-left: none;
}

.tableauStat th {
    background-color: #4CAFFF;
    color: white;
    border-left: 1px solid #fff;
}

.tableauStat tr:nth-child(even) {background-color: #f2f2f2}

.tableJoueurEtJour {
	display: inline-block
}

.jeuxJoues{
	display: inline-block
}

.joursJoues{
	margin-top:5px;
}

.playUser{
	margin-top:5px;
}